.uangleDoubleRightIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.uangleDoubleRightWrapper {
  border-radius: var(--br-481xl);
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.uhomeAltIcon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton {
  background-color: var(--color-gray-300);
  box-shadow: var(--card);
  cursor: pointer;
}
.iconButton,
.iconButton1 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.iconButtonParent {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameParent,
.iconButtonParent,
.menuMini {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent {
  justify-content: flex-start;
  gap: var(--gap-25xl);
}
.menuMini {
  align-self: stretch;
  background-color: var(--dark);
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-xs);
}
.frameChild {
  position: absolute;
  top: 0;
  left: -5px;
  width: 237px;
  height: 954px;
}
.image1Icon {
  position: relative;
  width: 148.15px;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.trangCh {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.ucreateDashboardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hmNay {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.hmNayWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.uangleRightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.6;
}
.mennu,
.mennu1 {
  border-radius: var(--br-7xs);
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.mennu {
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
}
.mennu1 {
  background-color: var(--primary);
  color: var(--character-primaryinverse);
}
.dN,
.downIcon {
  position: relative;
}
.downIcon {
  width: 24px;
  height: 24px;
}
.dN {
  line-height: 20px;
  font-weight: 500;
}
.wrapper {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  text-align: center;
  color: var(--theme-text-heading);
}
.dNParent,
.downParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.downParent {
  align-self: stretch;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-7xs);
}
.eWork {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.ulistUiAltParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  text-align: center;
  color: var(--theme-text-heading);
}
.menuFilter,
.menuFilterParent {
  display: flex;
  justify-content: flex-start;
}
.menuFilter {
  border-radius: var(--br-7xs);
  width: 153px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.menuFilterParent {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.uplusIcon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.toDN {
  position: relative;
  line-height: 20px;
}
.uplusParent {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-7xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.frameContainer,
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
}
.frameContainer {
  width: 164px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--body-text1);
}
.frameGroup {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameWrapper1,
.wrapper4 {
  flex-direction: column;
  justify-content: center;
}
.wrapper4 {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  display: none;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  text-align: center;
  color: var(--theme-text-heading);
}
.frameWrapper1 {
  width: 164px;
  display: flex;
  align-items: flex-start;
  color: var(--body-text1);
}
.mennuGroup,
.mennuParent {
  align-self: stretch;
  justify-content: flex-start;
}
.mennuGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  color: var(--heading);
}
.mennuParent {
  gap: var(--gap-7xs);
  font-size: var(--body-s-14-sp-medium-size);
  color: var(--body-text1);
}
.image1Parent,
.mennuParent,
.trangChParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trangChParent {
  width: 192px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image1Parent {
  position: absolute;
  top: 18px;
  left: 20px;
  justify-content: center;
  gap: var(--gap-base);
}
.vectorParent {
  align-self: stretch;
  position: relative;
  width: 232px;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.flow1Icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 48px;
  height: 48px;
}
.userpic {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 89.09px;
  background: linear-gradient(180deg, #6989fe, #3c64f4);
  border: 0.9px solid var(--character-primaryinverse);
  box-sizing: border-box;
}
.label,
.state,
.userpic {
  position: absolute;
}
.state {
  height: calc(100% - 34.89px);
  width: calc(100% - 34.89px);
  top: 2.49px;
  right: 3.74px;
  bottom: 32.4px;
  left: 31.15px;
  border-radius: 50%;
  background: linear-gradient(180deg, #08b295, #0c977f);
  border: 1.9px solid var(--character-primaryinverse);
  box-sizing: border-box;
}
.label {
  height: 53.57%;
  width: 57.14%;
  top: 24%;
  left: 20.42%;
  line-height: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avt,
.employees {
  position: relative;
}
.avt {
  width: 44px;
  height: 44px;
  display: none;
}
.employees {
  font-size: var(--meta-size);
  line-height: 16px;
  color: var(--body-text1);
}
.flow1Parent,
.overviewParent {
  display: flex;
  justify-content: flex-start;
}
.overviewParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--heading);
}
.flow1Parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.userpic1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #6989fe, #3c64f4);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.label1,
.state1,
.userpic1 {
  position: absolute;
}
.state1 {
  height: calc(100% - 22.86px);
  width: calc(100% - 22.86px);
  top: 1.14px;
  right: 1.14px;
  bottom: 21.71px;
  left: 21.71px;
  border-radius: 50%;
  background: linear-gradient(180deg, #08b295, #0c977f);
  border: 1.7px solid var(--character-primaryinverse);
  box-sizing: border-box;
  display: none;
}
.label1 {
  top: 25%;
  left: 21.43%;
  line-height: 16.51px;
  font-weight: 600;
}
.avt1,
.userpic2 {
  position: absolute;
  height: 100%;
  width: 28.87%;
  top: 0;
  right: 71.13%;
  bottom: 0;
  left: 0;
}
.userpic2 {
  width: 100%;
  right: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #fca549, #f39531);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.avt2 {
  width: 28.87%;
  right: 47.42%;
  left: 23.71%;
}
.avt2,
.avt3,
.ovalCopy3,
.userpic3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.userpic3 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #7ad3ff, #4fbaf0);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.avt3,
.ovalCopy3 {
  width: 28.87%;
  right: 23.71%;
  left: 47.42%;
}
.ovalCopy3 {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div12 {
  position: relative;
  line-height: 16px;
}
.avt4,
.wrapper9 {
  position: absolute;
}
.wrapper9 {
  top: 1.78px;
  left: 1.78px;
  border-radius: 444.44px;
  background-color: var(--character-primaryinverse);
  border: 0.9px solid var(--line);
  box-sizing: border-box;
  width: 28.44px;
  height: 28.44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8.88888931274414px;
}
.avt4 {
  height: 100%;
  width: 28.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 71.13%;
  font-size: var(--meta-size);
  color: var(--color-dimgray-100);
}
.member,
.uangleDownIcon {
  position: relative;
  width: 110.86px;
  height: 32px;
  display: none;
}
.uangleDownIcon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.input {
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--line);
  box-sizing: border-box;
  width: 248px;
  height: 36px;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-s-14-sp-medium-size);
  color: var(--label);
}
.input,
.memberParent,
.ucommentDotsWrapper,
.uplusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.memberParent {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ucommentDotsWrapper,
.uplusWrapper {
  border-radius: var(--br-481xl);
  justify-content: center;
  padding: var(--padding-5xs);
}
.uplusWrapper {
  background-color: var(--primary);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.ucommentDotsWrapper {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--line);
}
.component2Child {
  position: absolute;
  height: 27.78%;
  width: 27.78%;
  top: -2.78%;
  right: 5.56%;
  bottom: 75%;
  left: 66.67%;
  border-radius: 50%;
  background-color: var(--color-red);
  border: 2px solid var(--character-primaryinverse);
  box-sizing: border-box;
}
.component2 {
  position: relative;
  width: 36px;
  height: 36px;
}
.unsplashfgUd73uZmIcon {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.unsplashfgUd73uZmWrapper {
  border-radius: var(--br-481xl);
  border: 1px solid var(--line);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs);
}
.frameParent3,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent3 {
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: 11.43px;
}
.header {
  background-color: var(--character-primaryinverse);
  width: 1148px;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
}
.ufilterIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.filter {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card-2);
  border: 1px solid var(--line);
  box-sizing: border-box;
  width: 121px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-7xs);
}
.downIcon3 {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.project {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-9xs);
  gap: var(--gap-5xs);
}
.uwebGridAltParent {
  gap: var(--gap-7xs);
}
.layout,
.project2,
.uwebGridAltParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.project2 {
  border-radius: var(--br-7xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card);
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-9xs);
  gap: var(--gap-5xs);
  cursor: pointer;
  color: var(--body-text1);
}
.layout {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  padding: var(--padding-9xs);
  gap: var(--gap-9xs);
  color: var(--icon);
}
.spXpTheo {
  position: relative;
  line-height: 12px;
}
.spXpTheoParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.filterParent,
.frameWrapper2,
.time {
  flex-direction: row;
  align-items: center;
}
.time {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  width: 187px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--caption-10-regular-size);
  color: var(--caption);
}
.filterParent,
.frameWrapper2 {
  display: flex;
}
.filterParent {
  flex: 1;
  justify-content: space-between;
}
.frameWrapper2 {
  background-color: var(--character-primaryinverse);
  box-shadow: 0-1px 0 rgba(221, 221, 221, 0.5);
  width: 1148px;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-s-14-sp-medium-size);
  color: var(--body-text1);
}
.headerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.uangleLeftWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--character-primaryinverse);
  box-shadow: var(--card);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
}
.thng52022 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.frameParent6,
.project4,
.uangleRightWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.uangleRightWrapper {
  border-radius: var(--br-9xs);
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
  justify-content: center;
  padding: var(--padding-11xs);
}
.frameParent6,
.project4 {
  justify-content: flex-start;
}
.frameParent6 {
  gap: var(--gap-5xs);
  font-size: var(--headline-16-medium-size);
  color: var(--heading);
}
.project4 {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-7xs);
}
.downIcon8 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}
.calendar,
.calendar7,
.calendarParent,
.frameParent5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent5 {
  align-items: center;
  gap: var(--gap-base);
}
.calendar,
.calendar7,
.calendarParent {
  align-items: flex-start;
}
.calendar {
  flex: 1;
  background-color: var(--character-primaryinverse);
  border-bottom: 1px solid var(--line);
  padding: var(--padding-5xs);
}
.calendar7,
.calendarParent {
  align-self: stretch;
}
.calendarParent {
  height: 36px;
}
.calendar7 {
  flex: 1;
  background-color: var(--character-primaryinverse);
  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  padding: var(--padding-5xs);
}
.outlineSearch {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.label4 {
  flex: 1;
  position: relative;
  line-height: 16px;
}
.outlineClose {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.input1,
.taskName {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input1 {
  flex: 1;
  background-color: var(--state-danger-10);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.taskName {
  align-self: stretch;
  align-items: flex-start;
  cursor: pointer;
  font-size: var(--meta-size);
  color: var(--body-text1);
}
.calendar13,
.calendar8 {
  background-color: var(--character-primaryinverse);
  border-bottom: 1px solid var(--line);
  display: flex;
  padding: var(--padding-5xs);
}
.calendar8 {
  align-self: stretch;
  flex: 1;
  border-right: 1px solid var(--line);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.calendar13 {
  flex-direction: row;
}
.calendar13,
.calendarGroup {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendarGroup,
.input3,
.parent,
.taskName2 {
  display: flex;
  flex-direction: row;
}
.parent {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-s-14-sp-medium-size);
}
.input3,
.taskName2 {
  border-radius: var(--br-9xs);
}
.input3 {
  flex: 1;
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--line);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.taskName2 {
  cursor: pointer;
}
.taskName2,
.taskName3,
.taskNameParent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.taskName3 {
  border-radius: var(--br-9xs);
  display: none;
  flex-direction: row;
  cursor: pointer;
}
.taskNameParent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-7xs);
  color: var(--body-text1);
}
.label10 {
  position: relative;
  line-height: 16px;
  color: var(--caption);
}
.calendar15,
.group {
  align-self: stretch;
  display: flex;
}
.calendar15 {
  flex: 1;
  background-color: var(--character-primaryinverse);
  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-7xs);
  font-size: var(--meta-size);
}
.group {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.background,
.stroke {
  position: absolute;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.stroke {
  height: calc(100% + 4px);
  width: calc(100% + 3.86px);
  top: -2px;
  right: -1.86px;
  bottom: -2px;
  left: -2px;
  border: 4px solid var(--primary-10);
}
.background {
  height: 100%;
  width: calc(100% - 0.14px);
  top: 0;
  right: 0.14px;
  bottom: 0;
  left: 0;
  background-color: var(--character-primaryinverse);
  border: 1px solid var(--primary);
}
.outlineClose6 {
  position: relative;
  border-radius: var(--br-80xl);
  width: 16px;
  height: 16px;
}
.icon {
  position: absolute;
  top: calc(50% - 8px);
  right: 0.14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.pointer {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--theme-text-body);
  width: 1px;
  height: 20px;
}
.labelPointer,
.placeholderIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.placeholderIcons {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-5xs);
}
.input7 {
  flex: 1;
  position: relative;
  height: 28px;
}
.calendar24,
.input8,
.taskName6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.taskName6 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  height: 28px;
  align-items: flex-start;
  cursor: pointer;
  color: var(--body-text1);
}
.calendar24,
.input8 {
  flex: 1;
}
.calendar24 {
  align-self: stretch;
  background-color: var(--primary-10);
  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  align-items: flex-start;
  padding: var(--padding-5xs);
}
.input8 {
  border-radius: var(--br-9xs);
  background-color: var(--state-warning-10);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.div19 {
  position: relative;
  font-size: var(--body-s-14-sp-medium-size);
  line-height: 20px;
  color: var(--heading);
}
.calendar27 {
  align-self: stretch;
  flex: 1;
  background-color: var(--character-primaryinverse);
  border-bottom: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-7xs);
  font-size: var(--meta-size);
  color: var(--body-text1);
}
.div20 {
  position: relative;
  font-size: var(--body-s-14-sp-medium-size);
  line-height: 20px;
}
.calendar35,
.calendarParent3,
.input12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input12 {
  border-radius: var(--br-9xs);
  background-color: var(--state-info-10);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.calendar35,
.calendarParent3 {
  align-self: stretch;
  align-items: flex-start;
}
.calendar35 {
  background-color: var(--character-primaryinverse);
  border-right: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  padding: var(--padding-5xs);
  color: var(--heading);
}
.calendarParent3 {
  color: var(--caption);
}
.frameParent2,
.frameParent4,
.frameParent7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent7 {
  flex: 1;
  width: 1100px;
  align-items: flex-start;
  color: var(--heading);
}
.frameParent2,
.frameParent4 {
  gap: var(--gap-xs);
}
.frameParent4 {
  flex: 1;
  align-items: flex-start;
  text-align: left;
  font-size: var(--body-s-14-sp-medium-size);
  color: var(--icon);
}
.frameParent2 {
  position: absolute;
  top: 0;
  left: 292px;
  height: 854px;
  align-items: center;
  text-align: center;
  font-size: 14.95px;
  color: var(--character-primaryinverse);
}
.myTasksCalendarMonth {
  position: relative;
  background-color: var(--character-primaryinverse);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headline-16-medium-size);
  color: var(--heading);
  font-family: var(--headline-16-medium);
}
